<h1><%= @map.city_name %> maps' page</h1>

  <table>
    <thead>
    <tr><h4>People living in <%= @map.city_name %>:</h4></tr>
    <tr>
      <td>Full name</td>
      <td>Age</td>
      <td>Birthday</td>
      <td>Vehicle count</td>
    </tr>
    </thead>

    <tbody>
    <% @people.each do |person| %>
        <tr>
        <td>
          <a href="/people/<%= person.id  %>"><%= person.identity.full_name %></a>
        </td>
        <td>
          <%= person.age %>
        </td>
        <td>
          <%= person.identity.birthday %>
        </td>
        <td>
          <%= Vehicle.where(:owner_id => person.id).count %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<a href = "/people/new"> Create new person</a>